{{ define "main" }}
{{- if .Site.Home.Content -}}
{{- .Site.Home.Content -}}
{{- partial "pagination.html" . -}}
{{- partial "edit-meta.html" . -}}
{{- else -}}
<h3>We put the company on the technological rails and engage in the integration of platform solutions, we are a team of like-minded people who love their work and are highly qualified in technologies related to Kubernetes and virtualization systems.</h3>
<ol>
  <li>PaaS <b>Cozystack</b> https://github.com/aenix-io/cozystack</li>
  <li>Ansible role for autimation proxmox on hetzner https://github.com/themoriarti/ansible_proxmox_hetzner</li>
  <li>Integration cozystack into proxmox https://github.com/aenix-io/cozystack/issues/69</li>
</ol>

<ol>
  <li>PaaS  <a href="https://github.com/aenix-io/cozystack"><b>Cozystack</b></a></li>
  <li>Ansible role for autimation proxmox on <a href="https://github.com/themoriarti/ansible_proxmox_hetzner"><b>hetzner</b></a></li>
  <li>Integration cozystack into <a href="https://github.com/aenix-io/cozystack/issues/69"><b>proxmox</b></a></li>
</ol>
{{- end -}}
{{- end -}}