{{ define "main" }}
{{- if .Site.Home.Content -}}
{{- .Site.Home.Content -}}
{{- partial "pagination.html" . -}}
{{- partial "edit-meta.html" . -}}
{{- else -}}
<h4 style="line-height: 1.4">We put the company on the technological rails and engage in the integration of platform solutions, we are a team of like-minded people who love their work and are highly qualified in technologies related to Kubernetes and virtualization systems.</h4>
<ol>
  <li>PaaS  <a href="https://github.com/aenix-io/cozystack" target="_blank"><b>Cozystack</b></a></li>
  <li>Ansible role for automation <a href="https://github.com/themoriarti/ansible_proxmox_hetzner" target="_blank"><b>proxmox on hetzner</b></a></li>
  <li>Integration <a href="https://github.com/aenix-io/cozystack/issues/69" target="_blank"><b>cozystack into proxmox</b></a></li>
</ol>
{{- end -}}
{{- end -}}